{% extends 'layout/base.html' %}

{% block head %}
  <title>index</title>
{% endblock %}

{% block body %}
  <div id="container">
    {% include 'layout/sidebar.html' %}

    <div id="main">
      <div id="main-title">
        <h1>게시물들</h1>
      </div>

      {% if not posts %}
        <h2 class="text-center p-5"><a href="{{ url_for('index.create') }}">게시물이 없습니다. 게시글을 작성해주세요.</a></h2>
      {% endif %}
      {% for post in posts %}
        <div id="main-post">
          <h2>
            <a href="{{ url_for('index.get_post', post_id=post.id) }}">{{ post.title }}</a>
          </h2>
          <p>
            {{ post.content|safe }}
          </p>
          <ul class="tag">
            {% for tag in post.tags %}
              <li>{{ tag.title }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      {{ macros.pagination_index(pagination, 'index.index') }}
    </div>
  </div>
{% endblock %}
