# python
*.pyo
*.pyc
.idea/
venv/

# mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# vim
*.swp
*.swo

# flask
!migrations/versions/.keep

# git
.git

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
